<div class="row" style="height: 120px; background-color:#ebedf0;">
  <div class="h4 col-12 col-md-12 d-flex justify-content-center align-items-center">
        Destinado a Publicações Promocionais das Empresas
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 col-md-3 order-1 order-md-1">
    <div class="empresablock sombra">
      <app-home-list/>
    </div>
  </div>
  <div class="col-12 col-md-6 order-3 order-md-2" >
    <div class="conteudoblock sombra" style="overflow: auto; max-height: 900px;">
      <app-home-conteudo/>
    </div>
  </div>
  <div class="col-12 col-md-3 order-2 order-md-3">
    <div class="pessoasblock sombra">
      <app-home-pessoa/>
    </div>
  </div>
</div>
