<div class="col-12 col-md-12">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item active">Listagem</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h5 border-left pl-2">
        Listagem de Empresas
      </h1>
    </div>
    <div class="col-md">
      <button routerLink="new" class="btn btn-primary float-right">
        <i class="fas fa-user-plus"></i> Cadastrar Nova Empresa
      </button>
    </div>
  </div>
  @defer (when carregando){
    <div id="table" class="table-responsive" style="max-height: 700px;">
      <table class="table table-borderless">
        <thead>
          <tr class="bg-dark text-light">
            <th>Nome Fantasia</th>
            <th>Ramo Atividade</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody style="max-height: 50px;">
          @for(empresa of empresas; track empresa.id; let i = $index){
          <tr>
            <td>{{ empresa.nomeFantasia }}</td>
            <td>{{ empresa.ramoDeAtividade }}</td>
            <td>{{ empresa.endereco }}</td>
            <td>{{ empresa.bairro }}</td>
            <td>{{ empresa.statusEmpresa }}</td>
            <td>
              <button (click)="editar(empresa.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              <button  class="btn btn-outline-danger btn-sm"><i class="fas fa-user-slash"></i></button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  } @placeholder {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary mt-4" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  } @loading {
    <p>Carregando a Lista de Clientes...</p>
  }
</div>
